
{% extends 'components/ecommerce-base.html' %}
{% load static %}

{% block styles %}



{% endblock %}

{% block content %}

                <!-- Start:: Breadcrumb-->
                <div class="border-bottom py-3">
                    <div class="container">
                        <div class="d-md-flex d-block align-items-center justify-content-between page-header-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Apps</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Customer</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Coupons</li>
                                </ol>
                            </nav>
                            <p class="mb-0">
                                <span class="text-muted">Updated on </span> Yesterday
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End:: Breadcrumb-->

                <!-- Start:: Section-1 -->
                <section class="section py-4">
                    <div class="container"> 
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 rounded-0">
                                    <div class="card-body p-0">
                                        <div class="p-3 card-content-1">
                                            <div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <div class="bg-gray-300 rounded-1">
                                                        <img src="{% static 'assets/images/ecommerce/png/31.png'%}" alt="img" class="w-100 img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <a href="javascript:void(0);" class="d-inline-block mb-1 fs-13 text-primary">Wellingtn</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">Western Women's Bag Wellingtn</h6>
                                                    <div class="d-flex align-items-baseline mt-3">
                                                        <h6 class="fs-20 text-success fw-semibold mb-0">$120</h6>
                                                        <span class="fs-13 ms-2 text-muted text-decoration-line-through">$399</span>
                                                        <span class="text-primary ms-auto fst-italic">65% Off</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 card-content-2 text-center d-flex align-items-center justify-content-between">
                                            <span class="tx-style-1">BIGBAKET-1116</span>
                                            <p class="mb-0 mt-1 fs-13 text-">Expires On 30-11-24</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 rounded-0">
                                    <div class="card-body p-0">
                                        <div class="p-3 card-content-1">
                                            <div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <div class="bg-gray-300 rounded-1">
                                                        <img src="{% static 'assets/images/ecommerce/png/30.png'%}" alt="img" class="w-100 img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <a href="javascript:void(0);" class="d-inline-block mb-1 fs-13 text-primary">Kullcandy</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">SoundSync Headphones 5.2</h6>
                                                    <div class="d-flex align-items-baseline mt-3">
                                                        <h6 class="fs-20 text-success fw-semibold mb-0">$150</h6>
                                                        <span class="fs-13 ms-2 text-muted text-decoration-line-through">$200</span>
                                                        <span class="text-primary ms-auto fst-italic">25% Off</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 card-content-2 text-center d-flex align-items-center justify-content-between">
                                            <span class="tx-style-1">ELECTRIC</span>
                                            <p class="mb-0 mt-1 fs-13 text-">Expires On 05-12-24</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 filter-bw rounded-0">
                                    <div class="card-body p-0">
                                        <div class="p-3 card-content-1">
                                            <div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <div class="bg-gray-300 rounded-1">
                                                        <img src="{% static 'assets/images/ecommerce/png/32.png'%}" alt="img" class="w-100 img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <a href="javascript:void(0);" class="d-inline-block mb-1 fs-13 text-primary">Fossi1</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">Digital Alarm Clock Blue Color</h6>
                                                    <div class="d-flex align-items-baseline mt-3">
                                                        <h6 class="fs-20 text-success fw-semibold mb-0">$99</h6>
                                                        <span class="fs-13 ms-2 text-muted text-decoration-line-through">$599</span>
                                                        <span class="text-primary ms-auto fst-italic">80% Off</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 card-content-2 text-center d-flex align-items-center justify-content-between">
                                            <span class="tx-style-1">DIGITAL</span>
                                            <p class="mb-0 mt-1 fs-13 text-">Expired</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 rounded-0">
                                    <div class="card-body p-0">
                                        <div class="p-3 card-content-1">
                                            <div class="row align-items-center">
                                                <div class="col-md-3">
                                                    <div class="bg-gray-300 rounded-1">
                                                        <img src="{% static 'assets/images/ecommerce/png/15.png'%}" alt="img" class="w-100 img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <a href="javascript:void(0);" class="d-inline-block mb-1 fs-13 text-primary">Adibas</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">Men's Sports Shoes</h6>
                                                    <div class="d-flex align-items-baseline mt-3">
                                                        <h6 class="fs-20 text-success fw-semibold mb-0">$299</h6>
                                                        <span class="fs-13 ms-2 text-muted text-decoration-line-through">$799</span>
                                                        <span class="text-primary ms-auto fst-italic">70% Off</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="p-3 card-content-2 text-center d-flex align-items-center justify-content-between">
                                            <span class="tx-style-1">SHOES-1773</span>
                                            <p class="mb-0 mt-1 fs-13 text-">Expires On 25-12-24</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 shadow-none rounded-0">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-4">
                                                <div class="p-3 card-content-3 h-100 d-flex flex-column align-items-center justify-content-center text-center">
                                                    <span class="avatar avatar-lg rounded-circle text-bg-primary mb-2" title="brand-logo"><i class="ti ti-category-2 fs-24"></i></span>
                                                    <a href="javascript:void(0);" class="d-inline-block fs-13 text-primary mb-1">Woodband</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">Shoes</h6>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="p-3 card-content-4">
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <div class="min-w-fit-content">
                                                            <span class="fs-24 text-primary">20%</span>
                                                            <span class="fs-13 text-muted">off</span>
                                                        </div>
                                                        <div class="flex-grow-1 text-end">
                                                            <span class="fs-13 text-muted">Max $120</span>
                                                        </div>
                                                    </div>
                                                    <p class="mb-2 fs-13 text-muted fw-normal me-2">Use Code</p>
                                                    <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                                                        <span class="tx-style-1">DIGITAL</span>
                                                        <span class="fs-13 text-danger">2 Days Left</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 shadow-none filter-bw rounded-0">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-4">
                                                <div class="p-3 card-content-3 h-100 d-flex flex-column align-items-center justify-content-center text-center">
                                                    <span class="avatar avatar-lg rounded-circle bg-orange mb-2"><i class="ti ti-shoe fs-24"></i></span>
                                                    <a href="javascript:void(0);" class="d-inline-block fs-13 text-primary mb-1">Oven Story</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">Pizzas</h6>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="p-3 card-content-4">
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <div class="min-w-fit-content">
                                                            <span class="fs-24 text-primary">50%</span>
                                                            <span class="fs-13 text-muted">off</span>
                                                        </div>
                                                        <div class="flex-grow-1 text-end">
                                                            <span class="fs-13 text-muted">Min Order $250</span>
                                                        </div>
                                                    </div>
                                                    <p class="mb-2 fs-13 text-muted fw-normal me-2">Use Code</p>
                                                    <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                                                        <span class="tx-style-1">PIZZZAS</span>
                                                        <span class="fs-13 text-muted">Expired</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 shadow-none rounded-0">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-4">
                                                <div class="p-3 card-content-3 h-100 d-flex flex-column align-items-center justify-content-center text-center">
                                                    <span class="avatar avatar-lg rounded-circle text-bg-secondary mb-2" title="brand-logo"><i class="ti ti-circle-triangle fs-24"></i></span>
                                                    <a href="javascript:void(0);" class="d-inline-block fs-13 text-primary mb-1">Behrouz</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">Food</h6>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="p-3 card-content-4">
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <div class="min-w-fit-content">
                                                            <span class="fs-24 text-primary">30%</span>
                                                            <span class="fs-13 text-muted">off</span>
                                                        </div>
                                                        <div class="flex-grow-1 text-end">
                                                            <span class="fs-13 text-muted">Max $150</span>
                                                        </div>
                                                    </div>
                                                    <p class="mb-2 fs-13 text-muted fw-normal me-2">Use Code</p>
                                                    <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                                                        <span class="tx-style-1">BEHROUZ</span>
                                                        <span class="fs-13 text-muted">Expires On 16-12-24</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card custom-card border-0 card-style-7 shadow-none rounded-0">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-4">
                                                <div class="p-3 card-content-3 h-100 d-flex flex-column align-items-center justify-content-center text-center">
                                                    <span class="avatar avatar-lg rounded-circle text-bg-info mb-2" title="brand-logo"><i class="ti ti-circle-half fs-24"></i></span>
                                                    <a href="javascript:void(0);" class="d-inline-block fs-13 text-primary mb-1">Roadsterr</a>
                                                    <h6 class="mb-0 fs-17 fw-semibold">T-Shirts</h6>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="p-3 card-content-4">
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <div class="min-w-fit-content">
                                                            <span class="fs-24 text-primary">10%</span>
                                                            <span class="fs-13 text-muted">off</span>
                                                        </div>
                                                        <div class="flex-grow-1 text-end">
                                                            <span class="fs-13 text-muted">Min Order $150</span>
                                                        </div>
                                                    </div>
                                                    <p class="mb-2 fs-13 text-muted fw-normal me-2">Use Code</p>
                                                    <div class="d-flex align-items-center flex-wrap justify-content-between gap-2">
                                                        <span class="tx-style-1">ROADSTERR</span>
                                                        <span class="fs-13 text-danger">Expires Today</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> 
                <!-- End:: Section-1 -->

                <!-- Start:: Section-2 -->
                <section class="section bg-banner px-lg-0 px-4">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <div class="mb-4">
                                <h3 class="fw-semibold mb-2 text-fixed-white">&#128073; Download our free mobile apps today</h3>
                            </div>
                            <h6 class="mb-4 op-9 text-fixed-white">Labore no sed ipsum ipsum nonumy. Sit ipsum sanctus ea magna est. Kasd diam rebum sit ipsum ipsum erat et kasd.Est amet sit vero sanctus labore no sed ipsum ipsum nonumy vero sanctus labore..</h6>
                            <div class="btn-list">
                                <a href="javascript:void(0);" class="btn btn-dark app-store">
                                    <img src="{% static 'assets/images/media/apps/play-store.png'%}" alt="">
                                    Google Play
                                </a>
                                <a href="javascript:void(0);" class="btn btn-dark app-store">
                                    <img src="{% static 'assets/images/media/apps/apple-store.png'%}" alt="" class="invert-1">
                                    App Store
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End:: Section-2 -->
                              
{% endblock %}

{% block scripts %}



{% endblock %}