
{% extends 'components/custom-base.html' %}

{% load static %}

{% block styles %}



{% endblock %}

{% block body %}
    <body class="">
{% endblock %}

{% block content %}

        <div class="page error-bg">
            <!-- Start::error-page -->
            <div class="error-page">
                <div class="container">
                    <div class="my-auto">
                        <div class="row align-items-center justify-content-center h-100">
                            <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                <p class="error-text mb-4 text-fixed-white">404</p>
                                <p class="fs-3 fw-normal mb-3 text-fixed-white">Oops, the page you are trying to access does not exist ?</p>
                                <p class="fs-16 text-fixed-white mb-5 op-8">The requested page is not available. It might have been relocated, deleted, or never existed.</p>
                                <a href="index" class="btn btn-secondary"><i class="ri-arrow-left-line align-middle me-1 d-inline-block"></i>BACK TO HOME</a>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 d-md-block d-none">
                                <img src="{% static 'assets/images/media/gif/1.gif'%}" alt="" class="bg-white-transparent rounded-circle backdrop-blur img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                    
{% endblock %}

{% block scripts %}



{% endblock %}