
{% extends 'components/custom-base.html' %}

{% load static %}

{% block styles %}



{% endblock %}

{% block body %}
    <body class="bg-white">
{% endblock %}

{% block content %}

        <div class="row authentication authentication-cover-main mx-0">
            <div class="col-xxl-5 col-xl-5 col-lg-12 d-xl-block d-none px-0">
                <div class="authentication-cover overflow-hidden">
                    <div class="authentication-cover-logo"> 
                        <a href="index"> 
                            <img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt="" class="authentication-brand desktop-dark"> 
                        </a> 
                    </div>
                    <div class="aunthentication-cover-content d-flex align-items-center justify-content-center">
                        <div>
                            <h2 class="fs-1 text-fixed-white lh-base">Keys to the kingdom, once a time</h2>
                            <p class="mb-0 fs-18 lh-base text-fixed-white op-8">This succinct quote playfully emphasizes the significance of each login, framing it as a step toward accessing a digital kingdom of possibilities</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7 col-xl-7">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xxl-6 col-xl-9 col-lg-6 col-md-6 col-sm-8 col-12">
                        <div class="card custom-card shadow-none my-auto border-0">
                        <div class="card-body p-5">
                            <p class="h4 mb-2 fw-semibold">Sign Up</p>
                            <p class="mb-4 text-muted">Join us by creating a free account !</p>
                            <div class="row gy-3">
                                <div class="col-xl-12">
                                    <label for="signup-firstname" class="form-label text-default">Email Address</label>
                                    <input type="email" class="form-control form-control-lg" id="signup-firstname" placeholder="Enter Email ID">
                                </div>
                                <div class="col-xl-12">
                                    <label for="signup-password" class="form-label text-default">Password</label>
                                    <div class="position-relative">
                                        <input type="password" class="form-control form-control-lg" id="signup-password" placeholder="Password">
                                        <a href="javascript:void(0);" class="show-password-button text-muted" onclick="createpassword('signup-password',this)"  id="button-addon2"><i class="ri-eye-off-line align-middle"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center my-4 authentication-barrier">
                                <span class="op-4 fs-11">OR SignUp With</span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between gap-3 mb-3 flex-wrap">
                                <button class="btn btn-light btn-lg btn-w-lg border d-flex align-items-center justify-content-center flex-fill">
                                    <span class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/media/apps/google.png'%}" alt="">
                                    </span>
                                    <span class="lh-1 ms-2 fs-13 text-default fw-medium">Google</span>
                                </button>
                                <button class="btn btn-light btn-lg btn-w-lg border d-flex align-items-center justify-content-center flex-fill">
                                    <span class="avatar avatar-xs">
                                        <img src="{% static 'assets/images/media/apps/facebook.png'%}" alt="">
                                    </span>
                                    <span class="lh-1 ms-2 fs-13 text-default fw-medium">Facebook</span>
                                </button>
                            </div>
                            <div class="d-grid mt-4">
                                <a href="index" class="btn btn-lg btn-primary">Create Account</a>
                            </div>
                            <div class="text-center">
                                <p class="text-muted mt-3 mb-0">Already have an account? <a href="sign_in_basic" class="text-primary fw-medium">Sign In</a></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                              
{% endblock %}

{% block scripts %}

        <!-- Show Password JS -->
        <script src="{% static 'assets/js/show-password.js'%}"></script>

{% endblock %}