
{% extends 'components/custom-base.html' %}

{% load static %}

{% block styles %}



{% endblock %}

{% block body %}
    <body class="bg-white">
{% endblock %}

{% block content %}

        <div class="row authentication two-step-verification authentication-cover-main mx-0">
            <div class="col-xxl-5 col-xl-5 col-lg-12 d-xl-block d-none px-0">
                <div class="authentication-cover overflow-hidden">
                    <div class="authentication-cover-logo"> 
                        <a href="index"> 
                            <img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt="" class="authentication-brand desktop-dark"> 
                        </a> 
                    </div>
                    <div class="aunthentication-cover-content d-flex align-items-center justify-content-center">
                        <div>
                            <h2 class="fs-1 text-fixed-white lh-base">Keys to the kingdom, once a time</h2>
                            <p class="mb-0 fs-18 lh-base text-fixed-white op-8">This succinct quote playfully emphasizes the significance of each login, framing it as a step toward accessing a digital kingdom of possibilities</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7 col-xl-7">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xxl-6 col-xl-9 col-lg-6 col-md-6 col-sm-8 col-12">
                        <div class="card custom-card shadow-none my-auto border-0">
                            <div class="card-body p-5">
                                <p class="h4 mb-2 fw-semibold">Verify Your Account</p>
                                <p class="mb-4 text-muted fw-normal">Enter the 4 digit code sent to the registered email Id.</p>
                                <div class="row gy-3">
                                    <div class="col-xl-12 mb-2">
                                        <div class="row">
                                            <div class="col-3">
                                                <input type="text" class="form-control form-control-lg text-center" id="one" maxlength="1" onkeyup="clickEvent(this,'two')">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control form-control-lg text-center" id="two" maxlength="1" onkeyup="clickEvent(this,'three')">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control form-control-lg text-center" id="three" maxlength="1" onkeyup="clickEvent(this,'four')">
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control form-control-lg text-center" id="four" maxlength="1">
                                            </div>
                                        </div>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label text-muted fw-normal fs-12" for="defaultCheck1">
                                                Did not recieve a code ?<a href="mail" class="text-primary ms-2 d-inline-block fw-medium">Resend</a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 d-grid mt-3">
                                        <a href="index" class="btn btn-lg btn-primary">Verify</a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <p class="fs-12 text-danger mt-3 mb-0"><sup><i class="ri-asterisk"></i></sup>Don't share the verification code with anyone !</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                              
{% endblock %}

{% block scripts %}

        <!-- Internal Two Step Verification JS -->
        <script src="{% static 'assets/js/two-step-verification.js'%}"></script>

{% endblock %}